
.m-select {
    position: relative;
    width: 200px;
    cursor: pointer;
    background: white;
    transition: .7s;
}
.m-select p {
    margin: 0;
    padding: 6px;
}
.title {
    border: solid 1px green;
}
.m-select-options {
    border: solid 1px green;
    position: absolute;
    top: 36px;
    right: 0;
    width: 100%;
    transition: .7s;
    background: white;
    z-index: 99;
}
.m-select-options p:hover {
    background: #909ea3;
}
