.nav-block{
    right: 0;
    left: 0;
    top: $nav-bar-height;
    height: 50px;
    padding: $padding/3;
    display: flex;
    z-index: 10;
}
.nav-block2{
    right: 0;
    left: 0;
    top: 100px;
    height: 50px;
    padding: $padding/3;
    display: flex;
    z-index: 11;
}
.form-block{
    margin: $margin;
}
