.modalWrapper {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 39;
    &__upBar{
        display: flex;
        align-items: center;
        background-color: $nav-bar-back;
        height: $modal-upBar-height;
        left: 0;
        right: 0;
        top: 0;
    }
    &__closeBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: $modal-upBar-height;
        height: $modal-upBar-height;
        color: $color-alt-hover;
        text-align: center;
        font-weight: 600;
        font-size: 64px;
        position: absolute;
        top: -50px;
        right: -50px;
        cursor: pointer;
        transition: .7s;
        &:hover{
            color: $color-white;
            background-color: $color-alt-hover;
            font-size: 46px;
            transition: .7s;
        }
    }
}

.popUp {
    animation-name: popUp;
    animation-fill-mode: forwards;
    animation-duration: .3s;
    animation-timing-function: ease-in;
}

@keyframes popUp {
    0% {
        transform: translateY(-46rem);
        opacity: 0;
    }
    40% {
        transform: translateY(-12rem);
        opacity: .2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
