.white {
    color: $color-white;
}

.black {
    color: $color-black;
}

.red {
    color: $color-alt;
}

.green {
    color: $color-green;
}


.bgGreen {
    background-color: $color-green;
}


.bgRed {
    background-color: $color-alt;
}


.bgBlue {
    background-color: $nav-bar-back;
}
