.m-btn-product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding/2 $padding/2;
    margin: $margin6/2;
    color: $color-white;
    border-radius: 4px;
    width: 32%;
    user-select: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    background-color: $color-grey-dark;
}

.m-btn-product:hover {
    background-color: $color-alt-hover;
}

.material-icons {
    margin-right: 8px;
}

.disabled {
    pointer-events: none;
    background-color: #aeaeae;
}
